$bg: #f0f3f4;
$foot-bg:#F7F9F9;
$bor: none;
$size: 10em;

@mixin layout{
	background:#f0f3f4;
	border: $bor;
	width:100%;
}
.carousel-item{

.carousel-caption{
display:block;
text-align: center;
left:700px;
margin-top:193.5px;
max-width:520px;
padding-bottom: 300px;
}

}
.second-hero{
	position: 0px;
	left:100px !important;
}
.card-deck{
	@include layout;
	margin:0px !important;
}
.card{
	@include layout;
	margin:0px !important;
}
.card-img-top{
	width:$size; 
	margin:auto;
}
.card-body{
	background:$bg;
	@include layout;
}
.display-5 {
	font-size: 3rem;
}
.navbar {
	background: white;
}
.container {
	padding-top: 20px;
}
.mail{
	padding-top:100px;
}
.form-group{
	padding-left:280px;
	width:75%;
	opacity: 0.20;
}
.btn-primary{
	background-color: transparent;
	border-color: grey;
}
.modal-footer{
	.btn-primary{
	background-color: green;
	border-color:green;
}
}
.foot{
	background: $foot-bg;
}
.breadcrumb{
	background-color: inherit;
}

